ol li {
}
.x1 {
  color: red;
}
.x2 {
  color: green;
}
.x3 {
  color: black;
}
.x4 {
  color: blue;
}
.x5 {
  color: blueviolet;
}
.x6 {
  color: chartreuse;
}
.x7 {
  color: coral;
}
li:hover {
  cursor: pointer;
  background-color: grey;
  color: black;
}
li:focus {
  background-color: blue;
}
